@tailwind base;
@tailwind components;
@tailwind utilities;



/* width */
::-webkit-scrollbar {
    width: 5px;
    margin-left: 2px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #dfc1fa;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ddbffa;
}